.page {
  position: relative;
  margin: 0 auto;
  max-width: @bg-img-width;
  min-height: @bg-img-height;
}

.container(@pt: 0px) {
  max-width: 88%;
  margin: 0 auto;
  padding-top: @pt;
}

.button(@p) {
  padding: 15px @p;
  border-radius: 5px;
  text-transform: uppercase;
  color: @white-color;
  background-color: @blue-color;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  &:hover, &:focus {
    background-color: @blue-color - #222;
  }
}
